<config>
    <modules>
        <BlueAcorn_MageJsConfig>
            <version>1.0.0</version>
        </BlueAcorn_MageJsConfig>
    </modules>

    <global>
        <helpers>
            <blueacorn_magejsconfig>
                <class>BlueAcorn_MageJsConfig_Helper</class>
            </blueacorn_magejsconfig>
        </helpers>
        <models>
            <blueacorn_magejsconfig>
                <class>BlueAcorn_MageJsConfig_Model</class>
            </blueacorn_magejsconfig>
        </models>
    </global>

    <frontend>
        <layout>
            <updates>
                <blueacorn_magejsconfig>
                    <file>blueacorn/magejsconfig.xml</file>
                </blueacorn_magejsconfig>
            </updates>
        </layout>
    </frontend>

    <jsconfig>
        <global>
            <integrations_giftcard>
                <import>
                    <filename name="integration_giftcard_filename" />
                </import>
            </integrations_giftcard>
        </global>
        <helpers>
            <demo_message name="demo_message2">
                <class>BlueAcorn_MageJsConfig_Helper_Config</class>
                <method>sayHello</method>
            </demo_message>
        </helpers>
    </jsconfig>
</config>